################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PhoSocialService/.vs/PhoSocialService/config/applicationhost.config
